<p id="notice"><%= notice %></p>
<div id="profile">
<div class="coloumns_container">  
     <div class="left_profile_coloum">

      <p>
          
        <img src="<%= @profile.file.url %>" width="100px" height="100px"
      </p>
      <div id="underline">
        <p>
          Bio:
          <%= @profile.bio %>
        </p>
      </div>    
      <p>
        History:
        <%= @profile.history %>
      </p>

      <p>
          Background:
        <%= @profile.background %>
      </p>



  </div>
  <div class="right_current_user_song_coloumn"> 
    
    <table class="songs_table" >
     <tr>
        <th>number</th>
        <th>song</th> 
        <th>action</th>
     </tr> 
    <tr>
      <% current_user.songs.each do |song| %>
      <td><%= song.name %></td>
      <td><audio controls="controls" src="<%= song.file.url %>"/> <!-- song. file extension --> 
        </td>
      <td>  
        <%= link_to 'Show', song %>
        <%= link_to 'Edit', edit_song_path(song) %>
        <%= link_to 'Destroy', song, method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
    <% end %>
    <% current_user.albums.each do |album| %>
    <tr> 
      <th>albumname</th>
      <th>artwork</th>
      <th>action</th>
    </tr>
      <td><%= album.name %></td>
      <td><img src="<%= album.file.url %>" width="100px" height="70px"/></td>

      <td>
        <%= link_to 'Show', album %>
        <%= link_to 'Edit', edit_album_path(album) %>
        <%= link_to 'Destroy', album, method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
    <% end %>
    </table> <!--songs table -->  
       </div> <!--right_current_user_song_coloumn -->
            <div class="clearfix"> </div>
            <%= link_to 'Edit', edit_profile_path(@profile) %> |
            <%= link_to 'Back', profiles_path %>
       </div> <!--"coloumns_container" -->
        
      </div> 
   </div><!-- inner div -->  
   <footer>
    
   </footer>




