<p id="notice"><%= notice %></p>
<div id="profile">
<div class="coloumns_container">  
     <div class="left_profile_coloum">

      <p>
          
        <img src="<%= @profile.file.url %>" width="100px" height="100px"
      </p>
      <div id="underline">
        <p>
          Bio:
          <%= @profile.bio %>
        </p>
      </div>    
      <p>
        History:
        <%= @profile.history %>
      </p>

      <p>
          Background:
        <%= @profile.background %>
      </p>
      <div action="/songs" method="GET" class="themeForm">
        <label for="chooseTheme">Choose Theme</label>
        <select id="theme">
            <option>red</option>
            <option>Blue</option>
            <option>Green</option>
            <option>purple</option>
            <option>Yellow</option>
        </select>
      </div>

      <button id="red"> change red </button> 


  </div>
  <div class="right_current_user_song_coloumn">
    <div class = "tableControlContainer">
      <ul>  
        <li class="tableControl"> View songs </li> <li><button id="showSongs" class="tableControl">showSongs</button></li>
        <li class="tableControl"> View albums </li> <li><button id="showAlbums" class="tableControl">showAlbums</button></li>
      </ul>
    </div>
      <table class="songs_table" >
       <tr>
          <th>number</th>
          <th>song</th> 
          <th>action</th>
       </tr> 
      <tr id="songDropdown">
        <% current_user.songs.each do |song| %>
        <td><%= song.name %></td>
        <td><audio controls="controls" src="<%= song.file.url %>"/> <!-- song. file extension --> 
          </td>
        <td>  
          <%= link_to 'Show', song %>
          <%= link_to 'Edit', edit_song_path(song) %>
          <%= link_to 'Destroy', song, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
      <% end %>
      
        <% current_user.albums.each do |album| %>
       <div >
        <tr> 
          <th>albumname</th>
          <th>artwork</th>
          <th>action</th>
        </tr>
        <tr id="albumDropdown">
          <td><%= album.name %></td>
          <td><img src="<%= album.file.url %>" width="100px" height="70px"/></td>

          <td>
            <%= link_to 'Show', album %>
            <%= link_to 'Edit', edit_album_path(album) %>
            <%= link_to 'Destroy', album, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
        <% end %>
      </div>
        </table> <!--songs table -->  
    
       </div> <!--right_current_user_song_coloumn -->
            <div class="clearfix"> </div>
            <%= link_to 'Edit', edit_profile_path(@profile) %> |
            <%= link_to 'Back', profiles_path %>
       </div> <!--"coloumns_container" -->
        
      </div> 
   </div><!-- inner div -->  
   <footer>
    
   </footer>




