<%= form_for(@song) do |f| %>
  <% if @song.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@song.errors.count, "error") %> prohibited this song from being saved:</h2>

      <ul>
      <% @song.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name  %><br />
    <%= f.text_field :name %> 
    <input type="search" name="w" value="" placeholder="Enter a movie title" autofocus />
  </div>
  <div class="field">
    <%= f.label :file %><br />
    <%= f.file_field :file %>
  </div>
  <div class="field">
    <%= f.label :date_created %><br />
    <%= f.date_select :date_created %>
  </div>
  <div class="field">
    <%= f.label :date_modifed %><br />
    <%= f.date_select :date_modifed %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
