<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @album.name %>
</p>

<p>
  <b>Artwork:</b>
  <%= @album.artwork %>
</p>

<p>
  <b>Date created:</b>
  <%= @album.date_created %>
</p>

<p>
  <b>Date updated:</b>
  <%= @album.date_updated %>
</p>

<% if can? :edit, Artist %>
    <%= link_to 'Edit', edit_album_path(@album) , id: "profiles_table" %> |
<% end %>
<%= link_to 'Back', aalbums_path,  id: "profiles_table" %>
