<% flash.each do |name, message| %>
   <div class="flash-message flash-message-<%= name %>">
       <%= message %>
   </div>
<% end %>
<!DOCTYPE html>
<html>
<head>
  <title>WDIProjectOne</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar">
    <ul class="left-nav">
      <li>
        <%= link_to('songs', songs_path) %>
      </li>
      <li>
        <%= link_to('albums', albums_path) %>
      </li>
    </ul>
    <ul class="right-nav">
      <li>
        <% if current_user %>
          logged in as #{current_user.name},
          <%= link_to 'Logout', logout_path, method: :delete %>
        <% else %>
          <%= link_to "Login", login_path %>
          or
          <%= link_to "Sign up", signup_path %>
        <% end %>
      </li>
    </ul>
    <div class="clear"></div>
  </nav>

<%= yield %>

</body>
</html>
